<section class="admin-dashboard">
    <div class="admin-dashboard-box">
        <a href="/admin/events">
            <div class="events admin-dashboard-element">EVENTS</div>
        </a>
        <a href="/admin/cultural-reps">
            <div class="culturalReps admin-dashboard-element">CULTURAL REPS</div>
        </a>
        <a href="/admin/event-heads">
            <div class="eventHeads admin-dashboard-element">EVENT HEADS</div>
        </a>
        <a href="/admin/classRegistrations">
            <div class="classReg admin-dashboard-element">CLASS WISE REGISTRATION</div>
        </a>
        <a href="/admin/eventRegistrations">
            <div class="eventReg admin-dashboard-element">EVENT WISE REGISTRATION</div>
        </a>
        <a href="/admin/results">
            <div class="results admin-dashboard-element">RESULTS</div>
        </a>
        <a href="/admin/leaderboard">
            <div class="leaderboard admin-dashboard-element">LEADERBOARD</div>
        </a>
    </div>
</section>