<section class="admin-login-section">
    <div class="admin-login-container">
        <h2>Admin Login</h2>
        <form action="/admin/admin-login" method="post">
            <div class="input-group">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" name="Email" class="form-control" placeholder="Enter Email" required>
            </div>

            <div class="input-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="Password" class="form-control" placeholder="Enter Password"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>