<h2>Class Registrations</h2>
<div class="classwise-box">
    {{#each classes}}
    <div class="alert alert-primary" role="alert">
        <a href="/admin/classRegistrations/{{this}}" class="class-link">{{this}}</a>
    </div>
    {{else}}
    <p>No classes found.</p>
    {{/each}}
</div>