<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/culRep" id="logo">Cultural Rep ({{culRepUser.class}})</a>

            <!-- Mobile Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Items (Aligned Right) -->
            <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                {{#if culRepUser}}
                <ul class="navbar-nav ms-auto"> <!-- Add ms-auto here -->
                    <li class="nav-item">
                        <a class="nav-link" href="/culRep/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/culRep/registrations">Registered Events</a>
                    </li>
                </ul>

                <!-- Logout Button -->
                <a class="btn btn-danger ms-3" href="/culRep/cultural_rep-log-out">Logout</a>
                {{/if}}
            </div>
        </div>
    </nav>
</header>