<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"> <!-- Changed from container-fluid to container -->
            <a class="navbar-brand" href="/eventHead" id="logo">
                Event Head ({{eventHeadUser.Name}})
            </a>

            <!-- Mobile Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <!-- Correct Bootstrap Icon -->
            </button>

            <!-- Navbar Items (Aligned Right) -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                {{#if eventHeadUser}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/eventHead/results">Results Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventHead/view-results">Edit Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="/eventHead/eventHead-log-out">Logout</a>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>
</header>