<nav class="fixed top-0 left-0 right-0 z-50 bg-beige bg-opacity-95 shadow-md py-2 px-6">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center gap-2">

            <a href="/">
                <img src="/images/tejas_logo.png" alt="Tejas '25" style="width: 5rem; height:3rem">
            </a>
        </div>

        <div class="hidden md:flex items-center gap-8">
            <a href="/#about" class="nav-link font-semibold font-handwritten text-coffe">About</a>
            <a href="/events" class="nav-link font-semibold font-handwritten">Events</a>
            <a href="/schedule" class="nav-link font-semibold font-handwritten">Schedule</a>
        </div>

        <button class="md:hidden" id="menu-toggle">
            <div class="w-6 h-0.5 bg-coffee mb-1.5"></div>
            <div class="w-6 h-0.5 bg-coffee mb-1.5"></div>
            <div class="w-6 h-0.5 bg-coffee"></div>
        </button>
    </div>

    <!-- Mobile menu -->
    <div id="mobile-menu" class="md:hidden bg-beige py-4 px-6 shadow-inner hidden">
        <div class="flex flex-col gap-4">
            <a href="/#about" class="nav-link mobile-link font-semibold font-handwritten">About</a>
            <a href="/schedule" class="nav-link mobile-link font-semibold font-handwritten">Schedule</a>
            <a href="/events" class="nav-link mobile-link font-semibold font-handwritten">Events</a>
        </div>
    </div>
</nav>