* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  padding-top: 10vh;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  bottom: 0;
  /* position: fixed; */
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  z-index: 10;
}

/* .page {
  width: calc(100dvw-17px);
  height: 100dvh;
} */

/* FORMS */

.form-object {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.formLabel {
  width: 20%;
}

/* FORMS */




/* ADMIN */

/* .admin-section {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.card-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-img-top {
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-details-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.classwise-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.admin-dashboard-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.admin-dashboard-element {
  width: 20rem;
  height: 10rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #D1E7DD;
  color: #0C4128;
}

.admin-dashboard-box>a {
  text-decoration: none;
}

/* ADMIN */